html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 0.5rem;
}

nav>ul {
  padding: 4px 16px;
}

li {
  display: flex;
  padding: 6px 8px;
}

a {
  color: #067df7;
  text-decoration: none;
  font-size: 15px;
}
